.form {
  margin: 0;
  width: 500px;
  padding: 30px 40px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.09);
  font-weight: 500;
}

.title {
  font-size: 25px;
  margin: 0;
  padding: 0;
}

.fieldset {
  margin: 20px 0 0;
  padding: 0;
  border: none;
}

.text {
  font-size: 17px;
  margin: 20px 0 0;
}

.link {
  color: #000;
}
