@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.section {
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px 10px;
    font-family: "Roboto";
    font-weight: 500;
}

@media screen and (max-width: 1440px){
    .section {
        max-width: 1000px;
    }
}

.containerTitle {
    margin: 30px 0 50px;
    font-size: 25px;
}

.container {
    max-width: 100%;
}

.title {
    margin: 0px;
    font-size: 30px;
    text-transform: uppercase;
}

.form {
    margin: 0 auto;
    padding: 0;
    width: 70%;
}

.fieldset {
    border: 1px solid rgba(128, 128, 128, 0.504);
    padding: 0 0 0 10px;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    border: none;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    height: 100%;
    margin-left: 10px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
    width: 28%;
}

.button:disabled {
    background-color: gray;
}

.button:hover {
    opacity: .8;
}

.input {
    border: none;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 17px;
    width: 72%;
}

.input:focus {
    outline: none;
}

.buttonImage {
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

.resultContainer {
    position: relative;
    background-color:rgba(128, 128, 128, 0.222);
    margin: 30px auto 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border-radius: 10px;
    box-sizing: border-box;
    height: 50px;
    padding: 10px 20px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.resultContainerVisible {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease;
}

.resultText {
    margin: 0;
    padding: 0;
    font-size: 17px;
}

.resultButton {
    background-color: transparent;
    border: none;
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.resultButton:hover {
    transition: all 0.3s ease;
    opacity: .4;
}

.buttonIcon {
    width: 25px;
    height: 25px;
}

.resultButton:hover {
    opacity: .8;
}

.notification {
    position: absolute;
    right: 0;
    bottom: -50px;
    color: #0000008f;
    background-color: rgba(128, 128, 128, 0.13);
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease;
}

.notificationVisible {
    opacity: 1;    
    transition: all 0.3s ease;
}