.section {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border: 0.5px solid rgba(128, 128, 128, 0.397);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 17px;
  overflow-wrap: break-word;
  min-height: 704px;
}

.table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}

.td {
  padding: 20px;
  max-width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.tdText {
  margin: 0;
  padding: 0;
}

.tdLink {
  margin: 0;
  padding: 0;

  text-decoration: none;
  color: black;
}

.tdLink:hover {
  text-decoration: underline;
}

.th {
  text-align: left;
  padding: 20px;
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.397);
}

.tbody .tr:hover {
  background-color: #ddd;
}

.lockIcon {
  height: 15px;
  width: 15px;
  margin-right: 15px;
}

@media screen and (max-width: 900px) {
  .section {
    font-size: 14px;
    min-height: 500px;
  }
  .th {
    padding: 10px;
  }
  .td {
    padding: 10px;
    max-width: 200px;
  }
}

@media screen and (max-width: 600px) {
  .td {
    max-width: 150px;
  }
}

@media screen and (max-width: 490px) {
  .td {
    max-width: 120px;
  }
}
