.inputContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputLabel {
  font-size: 17px;
  margin-bottom: 5px;
  padding-left: 10px;
}

.input {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 17px;
  padding-left: 10px;
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 15px;
}

.inputError {
  font-size: 17px;
  margin: 5px 0px;
  padding-left: 10px;
  color: red;
  min-height: 17px;
}
